input, textarea, select, button, a {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.panel-body::before, .panel-body::after {
    content:"";
    display:block;
}

.icon-search {
    background: url("../icons/carbon/search.svg");
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
}

.icon-add {
    background: url("../icons/carbon/add.svg");
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
}

.icon-edit {
    background: url("../icons/carbon/edit.svg");
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
}

.icon-delete {
    background: url("../icons/carbon/delete.svg");
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
}

.icon-save {
    background: url("../icons/carbon/save.svg");
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #ccc;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-width: 0 1px 1px 0;
    border-style: dotted;
    margin: 0;
    padding: 0;
}

.datagrid-cell {
    line-height: 24px;
}

.datagrid-body .datagrid-cell {
    height:auto;
}

.l-btn-focus {
    outline: #CCC solid thin;
}

.l-btn-icon {
    margin-top: -6px;
}

.l-btn {
    color: #404040;
    background: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #dfdfdf;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.l-btn:hover {
    color: #404040;
    background: #eee;
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.l-btn-plain {
    padding: 0px;
    color: #404040;
    background: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #dfdfdf;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.l-btn-plain:hover {
    color: #404040;
    background: #eee;
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
