/*
 GridNavigator 
 */
.mGridNavigatorText {
  vertical-align: top;
}
.mGridNavigatorRange {
  width: auto;
  padding: 3px;
}
.mGridNavigatorImages .mGridNavigatorRange {
  float: left;
}
.mGridNavigatorSelected {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  vertical-align: top;
}
.mGridNavigatorLink {
  vertical-align: middle;
  margin-left: 5px;
  vertical-align: top;
  color: #3b5998;
  text-decoration: none;
}
.mGridNavigatorLink:link,
.mGridNavigatorLink:visited {
  color: #3b5998;
  text-decoration: none;
}
.mGridNavigatorLink:active,
.mGridNavigatorLink:hover {
  color: #3b5998;
  text-decoration: none;
}
.mGridNavigatorImage {
  vertical-align: middle;
  width: 17px;
  text-decoration: none;
}
.mGridNavigatorImages .mGridNavigatorImage {
  float: left;
  background: url("../manager/images/gridnavigatorSprite.png") no-repeat top left;
}
.mGridNavigatorImages .mGridNavigatorImageFirstOn {
  cursor: pointer;
  margin: 2px 2px 0 9px;
  background-position: -337px 3px;
}
.mGridNavigatorImages .mGridNavigatorImageFirstOff {
  margin: 2px 2px 0 9px;
  background-position: -337px -17px;
}
.mGridNavigatorImages .mGridNavigatorImagePrevOn {
  cursor: pointer;
  margin: 2px 2px 0 9px;
  background-position: -297px 3px;
}
.mGridNavigatorImages .mGridNavigatorImagePrevOff {
  margin: 2px 2px 0 9px;
  background-position: -297px -17px;
}
.mGridNavigatorImages .mGridNavigatorImageNextOn {
  cursor: pointer;
  margin: 2px 2px 0 9px;
  background-position: -317px 3px;
}
.mGridNavigatorImages .mGridNavigatorImageNextOff {
  margin: 2px 2px 0 9px;
  background-position: -317px -17px;
}
.mGridNavigatorImages .mGridNavigatorImageLastOn {
  cursor: pointer;
  margin: 2px 9px 0 9px;
  background-position: -357px 3px;
}
.mGridNavigatorImages .mGridNavigatorImageLastOff {
  margin: 2px 9px 0 9px;
  background-position: -357px -17px;
}
/* 
 Grid 
 */
.mGrid {
  background-color: #fff;
  width: 100%;
  text-align: left;
  font: 0.9em;
}
.mGridNoScroll {
  border: 1px solid #ddd;
}
.mGrid .mGridLink {
  color: #3b5998;
  text-decoration: none;
}
.mGrid .mGridLink:hover {
  text-decoration: underline;
}
.mGrid .mGridDetail {
  text-decoration: underline;
  cursor: '#';
}
.mGrid .mGridNavigation {
  background-color: #ffffff;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
  position: relative;
}
.mGrid .mGridNavigation .mGridNavigatorLinks {
  float: left;
  padding-right: 3px;
}
.mGrid .mGridNavigation .mGridNavigatorImages {
  float: left;
}
.mGrid .mGridNavigation .mGridNavigatorRange {
  float: right;
}
.mGrid thead tr {
  background-color: #aaccf6;
  text-decoration: none;
  height: 100%;
}
.mGrid thead tr th {
  background-color: #dddddd;
  padding: 2px 3px 2px 4px;
  margin: 0px;
  height: 100%;
  font-weight: bold;
}
.mGrid thead tr th.select {
  padding: 0px 0px 0px 0px;
  text-align: center;
  width: 20px;
}
.mGrid thead tr th.action {
  width: 18px;
  text-align: center;
  height: 100%;
  padding: 1px 1px 1px 1px;
  margin: 0px;
}
.mGrid tbody {
  border-left: #dddddd solid 1px;
  border-bottom: #dddddd solid 1px;
}
.mGrid tbody tr {
  height: 100%;
  color: #000000;
}
.mGrid tbody tr td {
  border-color: #dddddd #cccccc;
  border-style: solid solid none none;
  border-width: 1px 1px medium medium;
  padding: 2px 3px 2px 4px;
  margin: 0px;
  height: 100%;
}
.mGrid tbody tr td.detail {
  padding: 0px;
  width: 50px;
}
.mGrid tbody tr.rowenter {
  background-color: #eaeaea;
}
.mGrid tbody tr.row {
  background-color: #fafafa;
}
.mGrid tbody tr.rowchecked {
  background-color: #9999ff;
}
.mGrid tbody tr.row0 {
  background-color: #f8f8f8;
}
.mGrid tbody tr.row0checked {
  background-color: #9999ff;
}
.mGrid tbody tr.row1 {
  background-color: #ffffff;
}
.mGrid tbody tr.row1checked {
  background-color: #ccccff;
}
.mGrid tbody td.actionIcon {
  width: 18px;
  text-align: center;
  height: 100%;
  padding: 1px 1px 1px 1px;
  margin: 0px;
}
.mGrid tbody td a.actionTextLink {
  color: #000000;
  font-weight: bold;
  font-size: 0.8em;
}
.mGrid tbody td a.actionTextDisable {
  color: #000000;
  font-weight: bold;
  font-size: 0.8em;
}
.mGrid tbody td.select {
  padding: 0px 0px 0px 2px;
  text-align: center;
  width: 20px;
}
.mGrid tbody td div.detail {
  padding: 0px;
  width: 45px;
}
.mGrid tbody tr.detail {
  padding: 0px;
  height: 0px;
}
.mGrid .mGridColumnOrder {
  text-decoration: underline;
  text-align: center;
  color: #000;
  vertical-align: middle;
  height: 15px;
}
.mGrid .mGridColumnLink {
  font-weight: normal;
  padding: 1x;
  color: #000;
  text-decoration: underline;
}
.mGrid .mGridColumn {
  padding: 1px;
  border-left: solid 1px #dddddd;
}
.mGrid .mGridFooter {
  font-weight: bold;
  text-decoration: none;
}
.mGrid .mGridActionIcon {
  border: 0;
  margin-left: 1px;
  padding-left: 1px;
  display: block;
  text-decoration: none;
}
