.managerIcon {
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border: none;
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.managerIconText {
  display: block;
  width: auto;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  padding-left: 16px;
  margin-left: 2px;
}
.managerIconCursor {
  cursor: pointer;
}
.managerIconEdit,
.managerIconEditOn {
  background: url("../manager/images/iconSprite.png") no-repeat top left;
  cursor: pointer;
  background-position: -237px 3px;
}
.managerIconEditOff {
  background: url("../manager/images/iconSprite.png") no-repeat top left;
  background-position: -237px -17px;
}
.managerIconDelete,
.managerIconDeleteOn {
  background: url("../manager/images/iconSprite.png") no-repeat top left;
  cursor: pointer;
  background-position: -199px 2px;
}
.managerIconDeleteOff {
  background: url("../manager/images/iconSprite.png") no-repeat top left;
  background-position: -199px -17px;
}
.managerIconButtonNew {
  background: url("../manager/images/iconSprite.png") no-repeat top left;
  cursor: pointer;
  background-position: -237px 3px;
}
.managerIconButtonHelp {
  background: url("../manager/images/famfamfamSprite.png") no-repeat top left;
  background-position: -528px -396px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
