<div id="mmAnnoationLayout" style="width:100%; height:100%;">
    <div id="textAnnotation" style="width:100%; height:60%;">
        <div id="visualPane" class="easyui-panel" title="Visual Annotation" style="width:100%; height:100%;padding:10px;background:#fafafa"></div>
    </div>
    <div id="textAnnotation" style="width:100%; height:40%">
        <div id="layersPane" class="easyui-panel" title="Text Annotation" style="width:100%; height:100%;padding:10px;background:#fafafa"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#visualPane').panel({
            href:{{$manager->getURL('annotation/main/visual') . '/' . $this->data->idAnnotationSetMM . '/m'}},
            onLoad:function(){
                console.log('loaded visualPane successfully');
            }
        });
        $('#layersPane').panel({
            href:{{$manager->getURL('annotation/main/layers') . '/' . $this->data->idSentence . '/' . $this->data->idAnnotationSet . '/c'}},
            onLoad:function(){
                console.log('loaded layersPane successfully');
            }
        });
    });

</script>