@import '../../node_modules/carbon-components/src/globals/scss/vars';
@import '../../node_modules/carbon-components/src/globals/scss/colors';

.bx--side-nav__submenu[aria-haspopup=true], .bx--side-nav a.bx--side-nav__link {
    min-height: 2rem;
    height: 2rem;
}

.bx--side-nav.bx--side-nav--website .bx--side-nav__link-text, .bx--side-nav.bx--side-nav--website .bx--side-nav__submenu-title {
    padding-left: 1rem;
}

.bx--side-nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 1rem;
    flex: 0 0 3rem;
}

a.bx--side-nav__link[role=menuitem] {
    padding-left: 1rem;
}

.bx--side-nav__menu[role='menu'] a.bx--side-nav__link[role='menuitem'] {
    height: 2rem;
    min-height: 2rem;
    padding-left: 2rem;
}

a.bx--side-nav__link[role=menuitem] {
    padding-left: 1rem;
    color: $ui-01;
}

.bx--navigation-menu-panel-collapse-icon,
.bx--navigation-menu-panel-expand-icon {
    margin: 12px;
}
/*
.bx--header .bx--header__menu-trigger {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    fill: $ui-01;
}
*/

.bx--side-nav__current_module {
    background-color: $ui-03;
    color:black;
    display:block;
    width:100%;
    height: 100%;
    padding-left: 5px;
}