{{layout $templateStructure}}
{{block title}}Frames{{/block}}

{{block toolbarStructure}}
<input id="idDomain" name="domain" style="width:50%">
<input id="frame" name="frame">
<input id="fe" name="fe">
<input id="lu" name="lu">
{{/block}}

{{block tree}}
<table id="frameTree"></table>
{{/block}}

{{block controls}}
<div id="menuRootFrames" style="display:none; width:120px;">
    <div onclick="handler.reloadFrame()" data-options="iconCls:'icon-reload'">Reload Frames</div>
    <div onclick="handler.newFrame()" data-options="iconCls:'icon-add'">New Frame</div>
</div>
<div id="menuFrame" style="display:none; width:120px;">
    <div onclick="handler.editFrame()" data-options="iconCls:'icon-edit'">Edit Entry</div>
    <div onclick="handler.editEntry()" data-options="iconCls:'icon-edit'">Edit Frame</div>
    <div onclick="handler.deleteFrame()" data-options="iconCls:'icon-remove'">Delete Frame</div>
    <div onclick="handler.newFrameElement()" data-options="iconCls:'icon-add'">New FrameElement</div>
    <div onclick="handler.newLU()" data-options="iconCls:'icon-add'">New LU</div>
    <div onclick="handler.createTemplate()" data-options="iconCls:'icon-add'">Create Template from Frame</div>
    <div onclick="handler.frameDomain()" data-options="iconCls:'icon-edit'">Domains</div>
    <div onclick="handler.frameStatus()" data-options="iconCls:'icon-edit'">Status</div>
    <div onclick="handler.frameSemanticType()" data-options="iconCls:'icon-edit'">Semantic Types</div>
</div>
<div id="menuFrameAnno" style="display:none; width:120px;">
    <div onclick="handler.newLU()" data-options="iconCls:'icon-add'">New LU</div>
</div>
<div id="menuFrameElement" style="display:none; width:120px;">
    <div onclick="handler.editFrameElement()" data-options="iconCls:'icon-edit'">Edit FrameElement</div>
    <div onclick="handler.editEntry()" data-options="iconCls:'icon-edit'">Edit Entry</div>
    <div onclick="handler.deleteFrameElement()" data-options="iconCls:'icon-remove'">Delete FrameElement</div>
    <div onclick="handler.feAddConstraint()" data-options="iconCls:'icon-add'">Add Constraint</div>
</div>
<div id="menuFrameConstraint" style="display:none; width:120px;">
    <div onclick="handler.feDeleteConstraint()" data-options="iconCls:'icon-remove'">Delete Constraint</div>
</div>
<div id="menuLU" style="display:none; width:120px;">
    <div onclick="handler.editLU()" data-options="iconCls:'icon-edit'">Edit LU</div>
    <div onclick="handler.deleteLU()" data-options="iconCls:'icon-remove'">Delete LU</div>
    <div onclick="handler.luAddConstraint()" data-options="iconCls:'icon-add'">Add Constraint</div>
    <div onclick="handler.importWS()" data-options="iconCls:'icon-edit'">Import WS</div>
</div>
<div id="menuLUAnno" style="display:none; width:120px;">
    <div onclick="handler.editLU()" data-options="iconCls:'icon-edit'">Edit LU</div>
    <div onclick="handler.deleteLU()" data-options="iconCls:'icon-remove'">Delete LU</div>
</div>
<div id="menuLUConstraint" style="display:none; width:120px;">
    <div onclick="handler.luDeleteConstraint()" data-options="iconCls:'icon-remove'">Delete Constraint</div>
</div>
<div id="menuSubCorpus" style="display:none; width:120px;">
    <div onclick="handler.deleteSubCorpus()" data-options="iconCls:'icon-remove'">Delete SubCorpus</div>
</div>
{{/block}}

{{block script}}

<script type="text/javascript">
    $(function () {

        var handler = {
            app: 'webtool',
            isMaster: "{{$data->isMaster|noescape}}",
            isAnno: "{{$data->isAnno|noescape}}",
            node: null,
            idTree: '#frameTree',
            urlTree: "api/structure/Frame/frameTree",
            urlDomain: "api/structure/Domain/listForSelection",
            idCurrent: -1,
            getReport: function (url, id) {
                $('#commonLayoutTabReport').panel('clear');
                $('#commonLayoutTabs').tabs('select', 0);
                manager.doGet("{{$appURL|noescape}}" + url + '/' + id, 'commonLayoutTabReport');
            },
            getForm: function (url, id) {
                if ($.type(id) === "undefined") {
                    id = handler.node.id.substr(1);
                }
                $('#commonLayoutTabData').panel('clear');
                $('#commonLayoutTabs').tabs('select', 1);
                manager.doGet("{{$appURL|noescape}}" + url + '/' + id, 'commonLayoutTabData');
            },
            lu: {
                show: function (idLU) {
                    handler.getReport("report/lu/showLU", idLU);
                },
                new: function (idFrame) {
                    handler.getForm('structure/frame/formNewLU', idFrame);
                },
                edit: function (id) {
                    handler.get("structure/frame/formUpdateLU", id);
                },
                delete: function (id) {
                    handler.get("structure/frame/formDeleteLU", id);
                },
                addConstraint: function (idLU) {
                    handler.get("structure/frame/formAddConstraintLU", idLU);
                },
                deleteConstraint: function (id) {
                    handler.get("structure/frame/formDeleteConstraintLU", id);
                }
            },
            frame: {
                show: function (id) {
                    handler.getReport("report/frame/showFrame", id);
                },
                new: function () {
                    handler.getForm("structure/frame/formNewFrame");
                },
                edit: function (id) {
                    handler.getForm("structure/frame/formUpdateFrame", id);
                },
                delete: function (id) {
                    handler.getForm("structure/frame/formDeleteFrame", id);
                },
                reload: function () {
                    $('#commonLayoutTabReport').panel('clear');
                    $('#commonLayoutTabData').panel('clear');
                    var node = $('#framesTree').tree('getSelected');
                    if (node) {
                        $('#framesTree').tree('reload', node.target);
                    }
                },
                reloadParent: function () {
                    $('#commonLayoutTabReport').panel('clear');
                    $('#commonLayoutTabData').panel('clear');
                    var node = $('#framesTree').tree('getSelected');
                    var parent = $('#framesTree').tree('getParent', node.target);
                    if (node) {
                        $('#framesTree').tree('reload', parent.target);
                    }
                },
                semanticType: function (id) {
                    handler.getForm("structure/frame/formFrameSemanticType", id);
                },
                domain: function (id) {
                    handler.getForm("structure/frame/formFrameDomain", id);
                },
                status: function (id) {
                    handler.getForm("structure/frame/formFrameStatus", id);
                },
            },
            relations: {
                edit: function (entry) {
                    if ($.type(entry) === "undefined") {
                        entry = handler.node.entry;
                    }
                    manager.doAction('^' + handler.app + '/structure/frame/formNewFrameRelations/' + entry);
                }
            },
            entry: {
                edit: function (entry, form) {
                    if ($.type(entry) === "undefined") {
                        entry = handler.node.entry;
                    }
                    manager.doAction('^' + handler.app + '/structure/entry/formUpdate/' + entry);
                    if (form) {
                        $('#' + form + '_dialog').dialog('close');
                    }
                }
            },
            frameElement: {
                new: function (idFrame) {
                    handler.getForm("structure/frame/formNewFrameElement");
                },
                edit: function (id) {
                    handler.get("structure/frame/formUpdateFrameElement", id);
                },
                delete: function (id) {
                    handler.get("structure/frame/formDeleteFrameElement", id);
                },
                addConstraint: function (idFE) {
                    handler.get("structure/frame/formAddConstraintFE", idFE);
                },
                deleteConstraint: function (id) {
                    handler.get("structure/frame/formDeleteConstraintFE", id);
                }
            },
            deleteSubCorpus: function (id) {
                handler.get("structure/frame/formDeleteSubCorpus", id);
            },
            importWS: function (id) {
                handler.get("structure/frame/formImportWS", id);
            },
            createTemplate: function (idFrame) {
                if ($.type(idFrame) === "undefined") {
                    idFrame = handler.node.id.substr(1);
                }
                manager.doAction('^' + handler.app + '/structure/frame/createTemplate' + '/' + idFrame);
            },
            searcher: function (params) {
                $('#frameTree').tree({queryParams: params});
            },
            contextMenuFrame: function (e, node) {
                e.preventDefault();
                console.log(node);
                handler.node = node;
                var $menu = '';
                if (handler.isMaster) {
                    $(this).tree('select', node.target);
                    if (node.id == 'root') {
                        $menu = $('#menuRootFrames');
                    } else if (node.id.charAt(0) == 'f') {
                        $menu = $('#menuFrame');
                    } else if (node.id.charAt(0) == 'e') {
                        $menu = $('#menuFrameElement');
                    } else if (node.id.charAt(0) == 'l') {
                        $menu = $('#menuLU');
                    } else if (node.id.charAt(0) == 's') {
                        $menu = $('#menuSubCorpus');
                    } else if (node.id.charAt(0) == 'x') {
                        $menu = $('#menuFrameConstraint');
                    } else if (node.id.charAt(0) == 'y') {
                        $menu = $('#menuLUConstraint');
                    }
                    if ($menu != '') {
                        $menu.menu('show', {
                            left: e.pageX,
                            top: e.pageY
                        });
                    }
                } else if (handler.isAnno) {
                    $(this).tree('select', node.target);
                    console.log('isAnno');
                    if (node.id.charAt(0) == 'f') {
                        $menu = $('#menuFrameAnno');
                    } else if (node.id.charAt(0) == 'l') {
                        $menu = $('#menuLUAnno');
                    } else {
                        return;
                    }
                    if ($menu != '') {
                        $menu.menu('show', {
                            left: e.pageX,
                            top: e.pageY
                        });
                    }
                }
            }
        }

        $('#frameTree').tree({
            url: handler.urlTree,
            width: '100%',
            onClick: function (node) {
                console.log(node);
                if (node.id.charAt(0) == 'f') {
                    handler.frame.show(node.id.substr(1));
                }
                if (node.id.charAt(0) == 'l') {
                    handler.frame.show(node.id.substr(1));
                }
            },
            onContextMenu: handler.contextMenuFrame
        })


        $('#menuRootFrames').menu({});
        $('#menuFrame').menu({});
        $('#menuFrameElement').menu({});
        $('#menuLU').menu({});
        $('#menuSubCorpus').menu({});
        $('#menuFrameConstraint').menu({});
        $('#menuLUConstraint').menu({});
        $('#menuFrameAnno').menu({});
        $('#menuLUAnno').menu({});

        $('#lu').textbox({
            buttonIcon: 'icon-search',
            iconAlign: 'right',
            prompt: "Search LU",
            onClickButton: function () {
                handler.searcher({lu: $('#lu').textbox('getValue')});
            }
        })
        $('#fe').textbox({
            buttonIcon: 'icon-search',
            iconAlign: 'right',
            prompt: "Search FE",
            onClickButton: function () {
                handler.searcher({fe: $('#fe').textbox('getValue')});
            }
        })
        $('#frame').textbox({
            buttonIcon: 'icon-search',
            iconAlign: 'right',
            prompt: "Search Frame",
            onClickButton: function () {
                handler.searcher({frame: $('#frame').textbox('getValue')});
            }
        })

        $('#idDomain').tagbox({
            url: handler.urlDomain,
            valueField: 'idDomain',
            textField: 'name',
            limitToList: true,
            hasDownArrow: true,
            label: 'Domains',
            onChange: function () {
                handler.searcher({idDomain: $('#idDomain').tagbox('getValues')});
            }
        })

        /*


                var structure = {
                    app: 'webtool',
                    isMaster: "{{$data->isMaster|noescape}}",
                    isAnno: "{{$data->isAnno|noescape}}",
                    node: null,
                    get: function (url, id) {
                        $('#commonLayoutCenterPane').html('');
                        manager.doGet("{{$appURL|noescape}}" + url + '/' + id, 'commonLayoutCenterPane');
                    },

                };

                $('#menuRootFrames').menu({});
                $('#menuFrame').menu({});
                $('#menuFrameElement').menu({});
                $('#menuLU').menu({});
                $('#menuSubCorpus').menu({});
                $('#menuFrameConstraint').menu({});
                $('#menuLUConstraint').menu({});
                $('#menuFrameAnno').menu({});
                $('#menuLUAnno').menu({});

                $('#lu').textbox({
                    //buttonText:{{_'Search'}},
                    buttonIcon: 'icon-search',
                    iconAlign: 'right',
                    prompt: "Search LU",
                    onClickButton:
                        function () {
                            $('#framesTree').tree({queryParams: {lu: $('#lu').textbox('getValue')}});
                        }
                })
                $('#fe').textbox({
                    //buttonText:{{_'Search'}},
                    buttonIcon: 'icon-search',
                    iconAlign: 'right',
                    prompt: "Search FE",
                    onClickButton:
                        function () {
                            $('#framesTree').tree({queryParams: {fe: $('#fe').textbox('getValue')}});
                        }
                })
                $('#frame').textbox({
                    //buttonText:{{_'Search'}},
                    buttonIcon: 'icon-search',
                    iconAlign: 'right',
                    prompt: "Search Frame",
                    onClickButton:
                        function () {
                            $('#framesTree').tree({queryParams: {frame: $('#frame').textbox('getValue')}});
                        }
                })

                $('#idDomain').combobox({
                    data: JSON.parse({{
                    $data - > domain
                }
            }),
                prompt: {
                    {
                        _
                        'Select Domain'
                    }
                }
            ,
                valueField:'idDomain',
                    textField
            :
                'name',
                    onSelect
            :

                function () {
                    $('#framesTree').tree({queryParams: {idDomain: $('#idDomain').combobox('getValue')}});
                }

            ,
                onChange: function () {
                    $('#framesTree').tree({queryParams: {idDomain: $('#idDomain').combobox('getValue')}});
                }
            })
                ;

                $('#framesTree').tree({
                    url: 'structure/frame/frameTree',
                    onClick: function (node) {
                        console.log(node);
                        if (node.id.charAt(0) == 'f') {
                            handler.frame.show(node.id.substr(1));
                        }
                        if (node.id.charAt(0) == 'l') {
                            handler.frame.show(node.id.substr(1));
                        }
                    },
                    onContextMenu: handler.contextMenuFrame
                })
        */

    })
</script>

{{/block}}