<script>
        Vue.component('edit-post', {
                template: '#edit-post',
                data() {
                    return {
                        post: 'teste',
                    }
                },
                computed: {
                    a() {
                        return 1;
                    }
                },
                methods: {
                    savePost() {
                        console.log(this.$store.state.currentTime);
                    }
                }
            }
        );
</script>

<script type="text/x-template" id="edit-post">
    <form @submit.prevent="savePost">
        <label>Title:</label>
        <input type="text" v-model="post"/><br>
        <label> Description :</label>
        <textarea rows="10" cols="50" v-model="post"> </textarea><br>
        <LinkButton iconCls="icon-save">Save</LinkButton>
    </form>
</script>

