{{var $id = 'domainFormObject'}}
{{layout '../../../../views/commonDialog.latte'}}
{{block toolbar}}
<div>
    <a id="btnSave" href="#">Save</a>
    <a id="btnDelete" href="#">Delete</a>
</div>
{{/block}}
{{block body}}
<form id="{{$id}}Form" method="post">
    <div>
        <label for="name">Name:</label>
        <input class="easyui-validatebox" type="text" name="name" data-options="required:true" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input class="easyui-validatebox" type="text" name="email" data-options="validType:'email'" />
    </div>
    ...
</form>
{{/block}}
{{block script}}
<script type="application/javascript">
    $('#domainFormObject').dialog({
        title: 'Domain',
        closed: false,
        cache: false,
        modal: true,
        toolbar: '#domainFormObjectToolbar',
        onClose: function() {
            $('#domainFormObject').dialog('destroy', true);
        }
    });

    $('#{{$id|noescape}}Form').form('submit', {
            onSubmit: function(){
                // do some check
                // return false to prevent submit;
            },
            success:function(data){
                alert(data)
            }
    });



    $('#btnDelete').linkbutton({
        iconCls: 'icon-remove',
        plain: true,
        onClick: function() {
            manager.doAction({{$data->delete}});
        }
    });

    $('#btnSave').linkbutton({
        iconCls: 'icon-save',
        plain: true,
        onClick: function() {
            manager.doAction({{$data->save}});
        }
    });

</script>

{{/block}}
