{{var $idDialog = 'domainDialog'}}
{{layout '../../../../views/commonLayoutCRUD.latte'}}
{{block title}}Domain{{/block}}
{{block north}}
<div class="toolbarGridCRUD">
    <input id="inputSearch"/>
    <a id="btnAdd" href="#">New</a>
    <a id="massAction" href="javascript:void(0)">Mass Action</a>
</div>
{{/block}}
{{block controls}}
<div id="menuInlineAction" class="menuInlineAction">
    <div onclick="domainHandler.actionUpdate()" data-options="iconCls:'icon-edit'">Edit</div>
    <div onclick="domainHandler.actionDelete()" data-options="iconCls:'icon-delete'">Delete</div>
</div>
<div id="menuMassAction" class="menuInlineAction">
    <div data-options="iconCls:'icon-delete'">Delete All</div>
</div>
{{/block}}
{{block center}}
<table id="domainGrid"></table>
{{/block}}

{{block toolbar}}
    <a id="btnSave" href="#">Save</a>
{{/block}}

{{block form}}
<form id="domainForm" method="post">
    <input type="hidden" id="domain_idDomain" name="domain_idDomain"/>
    <div>
        <input id="domain_entry" name="domain_entry"/>
    </div>
</form>
{{/block}}


{{block script}}
<script type="application/javascript">

    var domainHandler = {
        idGrid: '#domainGrid',
        urlGrid: {{$manager->getAppUrl('','admin/domain/gridData')}},
        idCurrent: -1,
        actionAdd: function() {
            // $('#domainDialog').dialog('open');
            $('#commonLayoutTabs').tabs('select', 1);
        },
        actionUpdate: function() {
            $('#commonLayoutTabs').tabs('select', 1);
            //manager.doAction('^admin/domain/formObject/' + domainHandler.idCurrent);
            //$('#domainDialog').dialog('open');
            $('#domainForm').form('load', {{$manager->getAppUrl('','admin/domain/formData/')}} + domainHandler.idCurrent);
        },
        actionDelete: function() {
            manager.doAction('^admin/domain/delete/' + domainHandler.idCurrent);
        },
        actionEntry: function (value) {
            manager.doAction("^structure/entry/formUpdate/" + value);
        },
        actionSave: function() {
            manager.doSubmit('domainForm', {{$manager->getAppUrl('','admin/domain/save')}});
            //$('#domainForm').form('submit');
        }

    }

    $(domainHandler.idGrid).datagrid({
        border:true,
        width:'100%',
        fitColumns: true,
        url: domainHandler.urlGrid,
        pagination: true,
        pageSize: 15,
        pageList: [5,10,15,20,30,50],
        checkOnSelect: false,
        frozenColumns: [[
            {"field":'ck',"checkbox":true},
            {"field":"inlineAction","title":"",width:'25px',fixed:true,formatter: function(value,row,index) {
                    return "<a href='#'>" + {{$icon->carbon('overflow-menu', "icon-16 inlineAction")}} + "</a>";
                }}
        ]],
        columns: [[
            {"field":"idDomain","title":null,"hidden":true},
            {"field":"entry","title":"Entry",width:'50%',"hidden":false,formatter: function(value,row,index) {
                return "<a>" + value + "</a>";
            }},
        ]],
        onClickCell: function(index,field,value,x){
            if (field == 'entry') {
                domainHandler.actionEntry(value);
            }
            if (field == 'inlineAction') {
                var rows=$(domainHandler.idGrid).datagrid("getRows");
                var row = rows[index];
                domainHandler.idCurrent = row.idDomain;
                var e = window.event;
                $('#menuInlineAction').menu('show',{
                    left:e.pageX,
                    top:e.pageY
                });
            }
        },
        onBeforeSelect: function(index,row) {
            return false;
        }
    });

    $('#menuInlineAction').menu({});

    $('#massAction').menubutton({
        menu: '#menuMassAction',
        plain: false
    });

    $('#inputSearch').textbox({
        buttonIcon: 'icon-search',
        iconAlign:'right',
        prompt: 'Search',
        onClickButton: function() {
            $(domainHandler.idGrid).datagrid('filter',$('#inputSearch').textbox('getValue'));
        }
    });

    $('#btnAdd').linkbutton({
        iconCls: 'icon-add',
        onClick: function() {
            domainHandler.actionAdd();
        }
    });

    $('#btnTest').linkbutton({
        iconCls: 'icon-add',
        onClick: function() {
            //manager.doAction('^admin/domain/formObject|dlgFormObject');
            console.log($('#domainGrid').datagrid('getChecked'));
        }
    });

    $('#btnDelete').linkbutton({
        iconCls: 'icon-remove',
        plain: true,
        onClick: function() {
            manager.doAction({{$data->delete}});
        }
    });

    $('#btnSave').linkbutton({
        iconCls: 'icon-save',
        plain: true,
        onClick: function() {
            domainHandler.actionSave();
        }
    });

    $('#domain_entry').textbox({
        required: true,
        labelWidth: '96px',
        width: '280px',
        label:'Entry:'
    })

    $('#domainForm').form({});
    /*
    $('#domainForm').form('submit', {
        url: {{$manager->getAppUrl('','admin/domain/save')}},
        onSubmit: function(){
            var isValid = $(this).form('validate');
            if (!isValid){
                $.messager.progress('close');	// hide progress bar while the form is invalid
            }
            return isValid;	// return false will stop the form submission
        },
        success: function(){
            $.messager.progress('close');	// hide progress bar while submit successfully
        },
        onLoadSuccess: function(data) {
            console.log('onloadsuccess');
            console.log(data);
        }
    });
    */

</script>

{{/block}}
