<script>
    Vue.component('controls-pane', {
            template: '#controls-pane',
            data() {
                return {
                    sliderValue: 30,
                    currentTime: 0,
                }
            },
            computed: {
                x: () => {
                    return this.sliderValue;
                }
            },
            created() {
                console.log(this.sliderValue);
            },
            methods: {
                y: function() {
                    return this.sliderValue;
                }
            },
            mounted: function () {
                this.$store.watch(
                    (state, getters) => getters.currentTime,
                    (currentTime) => {
                        this.currentTime = currentTime;
                        console.log(currentTime);
                        this.sliderValue = Math.trunc(100 * (currentTime / this.$store.state.duration));
                        console.log(this.sliderValue);
                    }
                )
            },
        }
    );
</script>

<script type="text/x-template" id="controls-pane">
    <div>
        <div id="jp_container_1" role="application" aria-label="media player">
            <div id="controls">
                <LinkButton id="btnPlay" class="jp-state-playing jp-play"><i class="fas fa-play"></i></LinkButton>
                <LinkButton id="btnPause" class="jp-pause"><i class="fas fa-pause"></i></LinkButton>
                <LinkButton id="btnNewBox" iconCls="far fa-square">New Box</LinkButton>
            </div>
            <Slider id="slider" :showTip="true" :value="y()" class="slider"></Slider>
            <p>Current value: {{y()}}</p>

            <div id="displayTime">
                <div class="jp-current-time"/>
                <div class="jp-duration"/>
            </div>
        </div>
        <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your
            <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</script>

