<script>
    Vue.component('grid-pane', {
            template: '#grid-pane',
            props: ['objects','updateGrid'],
            data() {
                return {
                    fieldClicked: '',
                }
            },
            computed: {},
            created() {
            },
            mounted: function () {
                let that = this;
                let frozenColumns = [
                    {
                        field: 'visible',
                        title: '<i class="fas fa-eye"></i>',
                        width: '32',
                        //editor: {type: 'checkbox', options: {on: 'True', off: 'False'}},
                        frozen: true,
                        formatter: function (value, row, index) {
                            if (value) {
                                return "<i style='color:black' class='fas fa-eye'></i>"
                            } else {
                                return "<i style='color:#777777' class='fas fa-eye'></i>"
                            }
                        },
                    },
                    {
                        field: 'occlusion',
                        title: '<i class="fal fa-expand"></i>',
                        width: '32',
                        //editor: {type: 'checkbox', options: {on: 'True', off: 'False'}},
                        frozen: true,
                        formatter: function (value, row, index) {
                            if (value) {
                                return "<i style='color:black' class='fal fa-expand'></i>"
                            } else {
                                return "<i style='color:#777777' class='fal fa-expand'></i>"
                            }
                        },
                    },
                    {
                        field: 'tag',
                        title: '<i class="fas fa-tag"></i>',
                        frozen: true,
                    },
                    {
                        field: 'idObject',
                        title: '#',
                        frozen: true,
                    },
                    {
                        field: 'idFE',
                        title: 'idFE',
                        frozen: true,
                    },
                    {
                        field: 'fe',
                        title: 'FE',
                        frozen: true,
                    },
                ];
                let columns = [
                    {
                        field: 'timeline',
                        title: 'Timeline',
                        formatter: function (value, row, index) {
                            let last = that.$store.state.framesRange.last + 1;
                            value = "<div style='height:16px; width:" + last + "px; background-color:#CCCCCC'>";
                            console.log(row);
                            let i = 0;
                            let box = (row.frames[0].bbox != null)
                            let currentBox = null;
                            let ranges = [{
                                start: 0,
                                end: 0,
                                status: box
                            }];
                            for(frame of row.frames) {
                                currentBox = frame.bbox != null;
                                if (box != currentBox) {
                                    ranges[i].end = frame.frameNumber - 1;
                                    i++;
                                    ranges.push({
                                        start: frame.frameNumber,
                                        end: frame.frameNumber,
                                        status: currentBox
                                    });
                                }
                            }
                            console.log(ranges);
                            value = value +  "</div>";
                            return value;
                        },
                    },
                ];
                $('#gridObjects').datagrid({
                    data: [],
                    title: 'Objects',
                    showHeader: true,
                    singleSelect: true,
                    width: 1200,
                    frozenColumns: [
                        frozenColumns
                    ],
                    columns: [
                        columns
                    ],
                    toolbar: [
                        {
                            text: '<u>S</u>ave',
                            iconCls: 'fa fa-folder-o fa16px',
                            handler: function () {
                                annotation.save();
                            }
                        },
                        {
                            text: '<u>R</u>efresh',
                            iconCls: 'fa fa-refresh fa16px',
                            handler: function () {
                                annotation.refresh();
                            }
                        },
                    ],
                    onClickRow: function (index, row) {
                        let annotatedObject = row;
                        if (that.fieldClicked == 'visible') {
                            $('#gridObjects').datagrid('beginEdit');
                            annotatedObject.visible = !annotatedObject.visible;
                            $('#gridObjects').datagrid('updateRow',{
                                index: index,
                                row: annotatedObject
                            });
                            $('#gridObjects').datagrid('endEdit');
                            $('#gridObjects').datagrid('refreshRow', index);
                        }
                        //annotation.editObject = row;
                        //$('#formObject').form('load', row);
                        //$('#dlgObject').dialog('open');
                        //document.getElementById('currentTime').innerHTML = config.currentTime;
                    },
                    onClickCell: function(index,field,value) {
                            that.fieldClicked = 'visible';
                            //let changeTo = !value;
                           // $('#gridObjects').datagrid('selectRow', index);
                           // console.log($('#gridObjects').datagrid('getSelected'));
                           // let annotatedObject = $('#gridObjects').datagrid('getSelected');
                           // console.log(index);
                           // console.log(annotatedObject);
                            /*
                            let bbox;
                            if (changeTo) {
                                annotatedObject.dom.style.display = 'block';
                                let jquery = $(annotatedObject.dom);
                                let position = jquery.position();
                                bbox = new BoundingBox(Math.round(position.left), Math.round(position.top), Math.round(jquery.width()), Math.round(jquery.height()));
                            } else {
                                annotatedObject.dom.style.display = 'none';
                                bbox = null;
                            }
                            annotatedObject.add(new AnnotatedFrame(player.currentFrame, bbox, true));
*/

                    },
                    onBeforeSelect: function () {
                        return false;
                    },
                });
            },
            methods: {
                updateObjects() {
                    $('#gridObjects').datagrid({
                        data: this.objects
                    })
                }
            },
            watch: {
                objects: {
                    handler: 'updateObjects',
                    immediate: true
                },
                updateGrid(value) {
                    console.log('updateGrid ' + value);
                    if (value) {
                        this.updateObjects();
                    }
                }
            }
        }
    );
</script>

<script type="text/x-template" id="grid-pane">
    <div>
        <div ref="gridObjects" id="gridObjects" >
        </div>
    </div>
</script>

