<script>
    Vue.component('grid-pane', {
            template: '#grid-pane',
            props: [],
            data() {
                return {
                    fieldClicked: '',
                    urlPutObjects: this.$store.state.model.urlPutObjects,
                }
            },
            computed: {
                objects: function() {
                    return this.$store.state.objectsTracker.annotatedObjects
                },
            },
            created() {
            },
            mounted: function () {

                this.$store.watch(
                    (state, getters) => getters.currentObjectState,
                    (currentObjectState) => {
                        if (currentObjectState == 'updated') {
                            this.updateObjects();
                            this.$store.commit('objectsTrackerState', 'clean');
                        }
                    }
                )

                this.$store.watch(
                    (state, getters) => getters.objectsTrackerState,
                    (objectsTrackerState) => {
                        if (objectsTrackerState == 'dirty') {
                            this.updateObjects();
                            this.$store.commit('objectsTrackerState', 'clean');
                        }
                    }
                )

                let that = this;
                let columns = [
                    {
                        field: 'idObject',
                        title: '#',
                    },
                    {
                        field: 'tag',
                        title: '<i class="fas fa-tag"></i>',
                        formatter: function (value, row, index) {
                            return "<i style='color:" + row.color + "' class='fas fa-tag'></i>";
                        },
                    },
                    {
                        field: 'idFrame',
                        title: 'idFrame',
                    },
                    {
                        field: 'frame',
                        title: 'Frame',
                    },
                    {
                        field: 'idFE',
                        title: 'idFE',
                    },
                    {
                        field: 'fe',
                        title: 'FE',
                    },
                    {
                        field: 'name',
                        title: 'Name',
                    },
                    {
                        field: 'startFrame',
                        title: 'Start',
                    },
                    {
                        field: 'endFrame',
                        title: 'End',
                    },
                ];
                $('#gridObjects').datagrid({
                    data: [],
                    title: 'Objects',
                    showHeader: true,
                    singleSelect: true,
                    columns: [
                        columns
                    ],
                    toolbar: [
                        {
                            text: '<u>S</u>ave',
                            iconCls: 'fa fa-folder-o fa16px',
                            handler: function () {
                                that.save();
                            }
                        },
                    ],
                    onClickRow: function (index, row) {
                        that.$store.commit('currentFrame', row.startFrame);
                        that.$store.dispatch('selectObject', row.idObject);
                    },
                    onClickCell: function(index,field,value) {
                            that.fieldClicked = 'visible';

                    },
                    onBeforeSelect: function () {
                        return false;
                    },
                });
            },
            methods: {
                updateObjects() {
                    $('#gridObjects').datagrid({
                        data: this.objects
                    })
                },
                save() {
                    console.log('saving');
                    let objects = this.$store.getters.allAnnotatedObjects;
                    console.log(objects);
                    let data = {
                        idAnnotationSetMM: this.$store.state.model.idAnnotationSetMM,
                        objects: []
                    };
                    for(object of objects) {
                        let frames = [];
                        for(frame of object.frames) {
                            console.log(frame);
                            if ((frame.isGroundTruth) && (frame.frameNumber <= object.endFrame)){
                                frames.push({
                                    frameNumber: frame.frameNumber,
                                    x: frame.bbox.x,
                                    y: frame.bbox.y,
                                    width: frame.bbox.width,
                                    height: frame.bbox.height,
                                    blocked: frame.blocked ? 1 : 0,
                                })
                            }
                        }
                        data.objects.push({
                            idFrameElement: object.idFE,
                            startFrame: object.startFrame,
                            endFrame: object.endFrame,
                            name: object.name,
                            frames: frames,
                        })
                    }
                    $('#dataObjects').val(JSON.stringify(data));
                    manager.doPostBack('formObjects');
                }
            },
        }
    );
</script>

<script type="text/x-template" id="grid-pane">
    <div>
        <div ref="gridObjects" id="gridObjects" style="width: 100%">
        </div>
        <form id="formObjects" method="post" :action="urlPutObjects">
            <input type="hidden" id="dataObjects" name="dataObjects" value=""/>
        </form>
    </div>
</script>

