<script>
    Vue.component('tools-pane', {
            template: '#tools-pane',
            props: [],
            data() {
                return {
                    currentTime: 0,
                    currentFrame: 0,
                    currentState: 'paused'
                }
            },
            computed: {},
            created() {
            },
            methods: {
                onNewObject() {
                    if (this.currentState == 'paused') {
                        this.$emit('newObjectClick', this.currentFrame);
                    }
                },
                onEndObject() {
                    if (this.currentState == 'paused') {
                        let currentObject = this.$store.state.currentObject;
                        console.log(currentObject);
                        let currentState = this.$store.state.currentObjectState;
                        console.log(currentState);
                        if (currentState == 'selected') {
                            this.$store.dispatch('endObject');
                        }
                    }
                },
            },
            mounted: function () {
                this.$store.watch(
                    (state, getters) => getters.currentState,
                    (currentState) => {
                        this.currentState = currentState;
                    }
                )
            },
            watch: {}
        }
    );
</script>

<script type="text/x-template" id="tools-pane">
    <div>
        <LinkButton id="btnNewObject" iconCls="far fa-square" @click="onNewObject">New Object</LinkButton>
        <LinkButton id="btnEndObject" iconCls="far fa-square" @click="onEndObject">End Object</LinkButton>
    </div>
</script>

