<script>
    Vue.component('visual-pane', {
            template: '#visual-pane',
            props: [],
            data() {
                return {
                    title: 'Visual Annotation',
                    videoTitle: this.$store.state.model.documentMM.videoTitle,
                    segments: this.$store.state.model.segments,
                    currentSegment: 0,
                    currentScale: 50,
                    player: null,
                    playerData: null,
                    ignore_timeupdate: false,
                    options: {},
                    objects: [],
                    newObject: {
                        index: 0,
                        frame: -1
                    },
                }
            },
            computed: {},
            created() {
            },
            mounted() {
                let that = this;
                $('#segments').combobox({
                    value: this.currentSegment,
                    data: this.segments,
                    onChange: function (value) {
                        that.changeSegment(value);
                    }
                })
            },
            methods: {
                changeSegment(value) {
                    this.currentSegment = value;
                    console.log(this.currentSegment);
                },
                onScaleChanged(value) {
                    console.log('scale changed to ' + value);
                    this.currentScale = value;
                },

                onCreatedNewObject(objectsTracker) {
                    console.log('new Object');
                    //this.annotatedObjectsSet.add(object)
                    console.log(objectsTracker);
                    this.objects = [];
                    for (object of objectsTracker.annotatedObjects) {
                        this.objects.push(object)
                    }

                },
            },
        }
    );
</script>

<script type="text/x-template" id="visual-pane">
    <Panel id="visualAnnotation" :border="false"
           style="width:100%;height:1500px;padding:16px;">
        <div id="videoSegment" style="margin:8px">
            <h3>{{videoTitle}}</h3>
            <input id="segments"></input>
        </div>
        <div style="display:flex; flex-direction: row; height: 100%; width: 100%;align-items: flex-start;">
            <div id="scalePane" style="width:60px">
                <scale-pane @scaleChanged="onScaleChanged"></scale-pane>
            </div>
            <div style="display:flex; flex-direction: column;padding-left: 16px; width:100%">
                <video-pane :segment="currentSegment"
                            :scale="currentScale" @createdNewObject="onCreatedNewObject"
                ></video-pane>
                <div id="videoObjects">
                    <grid-pane :objects="objects"></grid-pane>
                </div>
            </div>
        </div>
        </div>
    </Panel>
</script>

