html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: middle;
}

.bx--header__nav {
  left: 0;
  margin-left: mini-units(32);
  height: 100%;
  position: absolute;
}

/* copied from  a.#{$prefix}--header__menu-item[role='menuitem'] */
.#{$prefix}--header__global-text {
  display: flex;
  align-items: center;
  color: $shell-header-text-01;
  padding: 0 mini-units(2);
  // Used for links that are directly in the menubar to span the full height
  height: 100%;
  // Text styles
  font-size: rem(14px);
  font-weight: 400;
  letter-spacing: 0;
  line-height: rem(18px);
  // Reset link styles and make sure the text isn't selectable
  text-decoration: none;
  user-select: none;
  // Used for focus styles
  border: 4px solid transparent;
}

.bx--side-nav__submenu[aria-haspopup=true], .bx--side-nav a.bx--side-nav__link {
  min-height: 2rem;
  height: 2rem;
}

.bx--side-nav.bx--side-nav--website .bx--side-nav__link-text, .bx--side-nav.bx--side-nav--website .bx--side-nav__submenu-title {
  padding-left: 1rem;
}

.bx--side-nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 1rem;
  flex: 0 0 3rem;
}

a.bx--side-nav__link[role=menuitem] {
  padding-left: 1rem;
  cursor: pointer;
}

.bx--side-nav__menu[role='menu'] a.bx--side-nav__link[role='menuitem'] {
  height: 2rem;
  min-height: 2rem;
  padding-left: 3.5rem;
}

a.bx--side-nav__link[role=menuitem] {
  padding-left: 1rem;
  color: $ui-01;
}

.bx--navigation-menu-panel-collapse-icon,
.bx--navigation-menu-panel-expand-icon {
  margin: 12px;
}

.bx--content {
  width: 100%;
  max-width: calc(100vw - 3rem);
  padding: 16px;
  height: calc(100vh - 48px);
  min-height: calc(100vh - 48px);
}

.bx--content__side-nav--expanded {
  width: 100%;
  max-width: calc(100vw - 16rem);
}

.bx--content-full {
  width: 100%;
  padding: 16px;
  height: calc(100vh - 48px);
  min-height: calc(100vh - 48px);
}

.bx--header ~ .bx--content-full {
  margin-top: 3rem;
}

.bx--side-nav__current_module {
  background-color: $ui-03;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 5px;
}

.bx--side-nav__toggle_wt {
  display: inline-block;
  background: none;
  appearance: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
}