.entity_cxn {
  fill: #008000;
  color: #008000;
}

.entity_frame {
  fill: #D80000;
  color: #D80000;
}

.entity_st {
  color: white;
  fill: black;
}

.entity_fe {
  color: white;
  fill: white;
  stroke: black;
}

.entity_ce {
  color: white;
  fill: white;
  stroke: black;
}

.entity_lu {
  color: gray;
  fill: gray;
  stroke: black;
}

.rel_causative_of {
  stroke: #FFD700;
  fill: #FFD700;
}

.rel_inchoative_of {
  stroke: #DAA520;
  fill: #DAA520;
}

.rel_inheritance {
  stroke: #FF0000;
  fill: #FF0000;
}

.rel_perspective_on {
  stroke: #FFB6C1;
  fill: #FFB6C1;
}

.rel_precedes {
  stroke: #000000;
  fill: #000000;
}

.rel_see_also {
  stroke: #000000;
  fill: #000000;
}

.rel_subframe {
  stroke: #0000FF;
  fill: #0000FF;
}

.rel_using {
  stroke: #008000;
  fill: #008000;
}

.rel_coreset {
  stroke: #0000FF;
  fill: #0000FF;
}

.rel_excludes {
  stroke: #FF0000;
  fill: #FF0000;
}

.rel_requires {
  stroke: #008000;
  fill: #008000;
}

.rel_evokes {
  stroke: #0000FF;
  fill: #0000FF;
}

.rel_inheritance_cxn {
  stroke: #FF0000;
  fill: #FF0000;
}

.rel_elementof {
  stroke: #000000;
  fill: #000000;
}

.rel_elementof {
  stroke: #000000;
  fill: #000000;
}

.rel_hassemtype {
  stroke: #000000;
  fill: #000000;
}

.rel_formal_qualia {
  stroke: #092834;
  fill: #092834;
}

.rel_constitutive_qualia {
  stroke: #66B032;
  fill: #66B032;
}

.rel_agentive_qualia {
  stroke: #347B98;
  fill: #347B98;
}

.rel_telic_qualia {
  stroke: #B2D732;
  fill: #B2D732;
}

.rel_constraint_frame {
  stroke: #F5DEB3;
  fill: #F5DEB3;
}

.rel_standsfor {
  stroke: #808000;
  fill: #808000;
}

.rel_inhibits {
  stroke: #FFFF00;
  fill: #FFFF00;
}
